@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=IBM+Plex+Mono:ital,wght@0,300;1,300&family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:wght@400;500;600;700&family=Teko:wght@400;500;600&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header h1{
  color: white;
  font-size: 100px;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}
.header .neon {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #FF00C2;
}
@keyframes neonAnim {
from {
  text-shadow:
    0 0 16px rgba(255, 0, 194, .7),
    0 0 46px rgba(255, 0, 194, .7),
    0 0 106px rgba(255, 0, 194, .7);
}
to {
  text-shadow:
    0 0 11px rgba(255, 0, 194, .7),
    0 0 26px rgba(255, 0, 194, .7),
    0 0 66px rgba(255, 0, 194, .7);
}
}

/* #####RESPONSIVE DESING START######## */

@media only screen  and (max-width:940px) {
  .header h1{
    font-size: 70px;
  }

  nav.top-nav{
    display: none;
  }
}
@media only screen  and (max-width:730px) {
  .header h1{
    font-size: 40px;
}
}
